fastapi==0.88.0
passlib[bcrypt]==1.7.4
python-jose[cryptography]====3.3.0
python-multipart==0.0.5
pydantic==1.10.2
starlette==0.22.0
SQLAlchemy[asyncio]==1.4.44
boto3==1.26.25
aiogram==2.23.1
alembic==1.8.1
prometheus-fastapi-instrumentator==5.9.1
sentry-sdk[fastapi]==1.11.1
sqladmin==0.8.0
uvicorn==0.20.0
asyncpg==0.27.0
sqlalchemy_searchable==1.4.1
psycopg2-binary==2.9.5
Pillow==9.3.0
greenlet==2.0.1
requests==2.28.1
pyjwt==2.6.0