fastapi
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pydantic
starlette
SQLAlchemy[asyncio]
boto3
aiogram
alembic
prometheus-fastapi-instrumentator
sentry-sdk[fastapi]
sqladmin
uvicorn
asyncpg
sqlalchemy_searchable
psycopg2-binary
Pillow
greenlet